<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a202sgi_assignment">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".cores.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--provider that share the screen shot image-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.myApp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_file_paths" />

        </provider>

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android:intent.action.BOOT_COMPLETED" />

                <category android:name="android:intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!--facebook application id-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id"
            tools:replace="android:value" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="locale"
            android:label="Login to the App" />


        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.PassCodeActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.SetPassCodeActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.AddTransactionActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="Add Transaction"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.AddCategoryActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="New Category"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.CategoryImageActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="Category Icon"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.CategoryDetailActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="Category Detail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.SelectCategoryActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label="Select Category"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.TransactionDetailActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:label=""
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>